* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #040714;
}

body{
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/*.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.4;
    z-index: 9;
    display: flex;
    align-items: center;
    background-color: #040714;
    opacity: 10;
    
}*/

.navbar{
    opacity: 1;
    pointer-events: auto;
    background-color: #040714;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    left: 0;
    padding: 0 36px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-top: 0;
}

.img-nav{
    margin-right: auto;
    display: inline-block;
    width: 80px;
    max-height: 70px;
    margin: 5px;
    max-width: 160px;
    height: auto;
}

.items-navbar{
    display: flex;
}

#Sign-up-now{
    display: inline-flex;
    height: 50px;
    max-width: none;
    text-transform: uppercase;
    width: auto;
    padding: 8px 14px;
    margin: 5px;
    background: #0063e5;
    border: none;
    color: #f9f9f9;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}


#login{
    display: inline-flex;
    height: 50px;
    max-width: none;
    text-transform: uppercase;
    width: auto;
    padding: 8px 14px;
    margin: 5px;
    background-color: rgba(0, 0, 0, .2);
    border: white 1px solid;
    color: #f9f9f9;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}


#login:hover{
    background-color: #ffffff;
    color: black;

}

.spacer-1{
    height: 80px;
}

.container-z{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 5.6vw;
    justify-content: flex-start;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.container-o{
    display: block;
    width: 50%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    max-width: 640px;
    z-index: 1;
    
}

.spacer-2{
    margin-top: 40px;
}

.ImgPrincipal{
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 2vw;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    display: block;
    color: #f9f9f9;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 24px;
    font-weight: 500;


}

a{
    text-decoration: none;
    color: inherit;
}

.container-ot{
    list-style: none;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    grid-gap: 24px;
    /*flex-wrap: wrap;*/

}

.container-oto{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}

.img-signDS{
    display: block;
    height: auto;
    width: 100%;
    min-height: 1px;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;

}

.container-ott{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.img-signDSL{
    display: block;
    height: auto;
    width: 100%;
    min-height: 1px;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.button-sign{
    display: inline-flex;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 60px;
    margin-bottom: 20px;
    max-width: 360px;
    border-radius: 4px;
    background: #6421ff;
    color: #f9f9f9;
    justify-content: center;
    align-items: center;
}

.button-sign:hover{
    background-color: #7827FF;
    color: #f9f9f9;
    border: #6F33D9;
}

p {
    margin: 0 0 24px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #f9f9f9;
    font-weight: 380;
    letter-spacing:  .3;
    text-align: center;
}

.sign-disney{
    font-size: 16px;
    line-height: 26px;
    color: #f9f9f9;
    text-align: inherit;
    text-decoration: underline;
    justify-content: center;
}

.spacer-3{
    height: 250px;
}

.containertwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 5.6vw;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.devicesD{
    flex:  0 0 50%;
    max-width: 50%;
}

nav{
    display: flex;
    justify-content: space-around;
    

}

.background{
    width: 100%;
    background-position: right;

    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

}

.text-container{
    padding: 0 2vw;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
    
}

h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: 550;
    margin-bottom: 24px;
    line-height: 50px;
    margin-top: 0;
    color: #f9f9f9;
    font-size: 40px;
    text-align: center;
}

.container-tree{
    text-align: center;
    padding: 5.6vw;
    box-sizing: border-box;
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-grid{
    grid-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
}

.img-grid-center{
    list-style: none;
    border-radius: 4px;
    overflow: hidden;
    height: auto;
    flex: 0 0 calc(33.3% - 16px);
    width: calc(33.3% - 16px);


}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}

.containerfour{
    align-items: center;
    display: flex;
    position: relative;
    padding: 5.6vw;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

.img-container-four{
    position: relative;
    display: block;
    height: auto;
    width: 100%;

}
.text-container{
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:  calc(50% - 5vw);
    position: absolute;
    padding: 0 2vw;
}

.grid-container-five{
    display: flex;
    grid-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.container-five{
    text-align: center;
    padding: 5.6vw;
}

.grid-center-devices{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 calc(25% - 18px);
    width: calc(25% - 18px);
    align-items: center;
    text-align: center;
}

.device{
    display: block;
    height: auto;
    width: 100%;
}

.text-devices{
    font-size: 18px;
    line-height: 28px;
}

.logo-footer{
    max-width: 180px;
    display: block;
    margin-bottom: 10px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.info{
    text-align: left;
    font-size: 12px;
    line-height: 22px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto 15px;
    position: relative;
    padding-inline-start: 40px;

}

.info-footer{
    padding: 8px 12px;
    display: inline-block;
    font-size: 12px;
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 0;
    color: #f9f9f9;

}

.text-info{
    font-size: 12px;
    line-height: 22px;

}

footer{
    padding: 26px 8px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1024px;
    display: flex;


}
